
/*telas de celular*/
@media (max-width:480px) {
    body {
        background-color: chartreuse;
    }
    .container {
        width: 480px;
        display: flex;
        flex-direction: column;
    }
}

/*telas de tablet*/
@media (min-width:481px) and (max-width:767px) {
    body {
        background-color: brown;
    }
    .container {
        width: 700px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box {
        width: 345px;
    }
    .box:last-child{
        width: 100%;
    }
}

    

