body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
}

#controles {
  text-align: center;
  margin-bottom: 20px;
}

#listaPaises {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.pais {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.pais img {
  width: 100%;
  border-radius: 6px;
}

#estatisticas {
  margin-top: 30px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

#popup {
  position: absolute;
  top:20px;
  left:0;
  background-color: #fff;
  border: #666 solid 1px;
  padding: 10px;
  display: none;
}

.popupVisivel {
  display: block;
  
}