* {
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 700px;
    margin: 0 auto;
}

/*****************************/
/* header */
/*****************************/


header {
    background-color: rgb(74,158,134);
    height: 150px;
    color: #fff;
}
header h1 {
    padding:30px 0 20px;
    font-size: 1.5em;
}
header i {
    padding-right: 10px;
    font-size: .5em;
}

header nav {
    background-color: rgb(101, 203, 174);
    width:300px;
}

header ul {
    list-style: none;
    padding: 15px;

    display: flex;
    justify-content: space-around;
}

header li {
    text-transform: uppercase;
    font-size: .8em;
}

header a{
    text-decoration: none;
    color:#fff;
}

/*****************************/
/* main */
/*****************************/
main {
    color:rgb(28,28, 28);
}

.branca .container {
    display: flex;
    justify-content: center;
    gap:10px;
}

.cinza {
    background-color: rgb(243, 243, 243);

    text-align: center;
}
.cinza h2 {
    padding: 20px 0;

    font-size: 1.5em;
    text-transform: capitalize;

}

.cinza p {
    padding-bottom: 30px;

    font-size: .6em;
    line-height: 2em;
}

.branca {
    background-color: #fff;
}

.box {
    width: 200px;
    padding: 50px 10px;
    text-align: center;
}

.box h3 {
    padding:30px;
    font-size: .9em;
}

.box p {
    font-size: 0.6em;
    line-height: 2.5em;
    padding-bottom: 20px;
}

.box a {
    padding:10px 15px;
    background-color: rgb(74,158,134);
    color:#fff;

    font-size: .8em;
    text-decoration: none;
}

.card {
    width: 160px;
    padding: 50px 0;
    text-align: center;
}

.card img {
    max-width: 100%;
}

.card h4, .card p {
    font-size: .6em;
}

.card h4 {
    padding: 30px 0 15px;
}

/*****************************/
/* footer */
/*****************************/
